<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingTodoContext"
         connectionString="Server=0cde9a41-c543-4144-9c85-a7a10009e861.sqlserver.sequelizer.com;Database=db0cde9a41c54341449c85a7a10009e861;User ID=hrbnggowdhaphhta;Password=fdvzyypeshZBcK7WhXETDieSd5zgSxyu7eQ3yK4ZA7nhyfZDumBBTbD58LwB7iu3;" />
  </connectionStrings>
</configuration>